---
title: family
layout: base
---
{{ content | safe }}
<div class="container" id="toy">
    <div class="slideshow">
        <div class="slides">
            <img src="/images/{{toyimage}}" alt="{{toyimagealt}}" class="slide active">
        </div>
    </div>
    <div class="text-content">
      <h2> Toy </h2>
        <p>{{toyimagealt}}</p>
        <p>{{toydescription}}</p>
    </div>
</div>
<div class="container" id="food">
    <div class="slideshow">
        <div class="slides">
            <img src="/images/{{foodimage}}" alt="{{foodimagealt}}" class="slide active">
        </div>
    </div>
    <div class="text-content">
      <h2> Food </h2>
        <p>{{foodimagealt}}</p>
    </div>
</div>
<div class="container" id="shoe">
    <div class="slideshow">
        <div class="slides">
            <img src="/images/{{shoeimage}}" alt="{{shoeimagealt}}" class="slide active">
        </div>
    </div>
    <div class="text-content">
      <h2> Shoe </h2>
        <p>{{shoeimagealt}}</p>
    </div>
</div>
<div class="container" id="jewelry">
    <div class="slideshow">
        <div class="slides">
            <img src="/images/{{jewelryimage}}" alt="{{jewelryimagealt}}" class="slide active">
        </div>
    </div>
    <div class="text-content">
      <h2> Jewelry </h2>
        <p>{{jewelryimagealt}}</p>
    </div>
</div>